<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.build_variants_tests">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_normal_24"
        android:label="App ${variants}"
        android:roundIcon="@drawable/ic_normal_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.Build_variants_tests">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>